body {
	padding: 0;
	margin: 0;
	font-family: 'Special Elite', cursive;
}

#siteTitle {
	font-size: 2.5em;
	text-align: center;
	margin-top: 40px;
	color: dimgray;
}

nav {
	height: 200px;
	/*background-color: red;*/
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav-item {
	background-color: dimgray;
	padding: 0 30px;
	font-size: 1.2em;
	line-height: 3em;
	color: white;
	margin: 0 30px;
}

a {
	text-decoration: none;
}

.nav-item:hover {
	color: white;
	background-color: peru;
}