body {
  font-family: 'Merriweather', Arial;
  background-color: #ffc01b;
  margin: 0px;
  padding: 0px;
}

section {
  padding: 20px 150px;
  background: #fff;
  font-size: 1.5em;
  line-height: 1.7em;
  color: #210002;
}

.parallax-container {
  /*height: 110vh;*/
  height: 400px;
  width: 100%;
}

.aColorBG {
  background-color: #e9e2cf;
}

#theEnd {
  text-align: center;
  font-size: 2em;
  /*color: #98371b;*/
  color: #7a271b;
  line-height: 200px;
}


