body {
	font-family: 'Sen', sans-serif;
	font-size: 1.5em;
	/* background-color: wheat;
    color: wheat; */
}

.boxText {
	box-sizing: border-box; /*prevents padding from making box size grow*/
	padding: 15px;
}



.scroll-container{
	height: 100vh;
    overflow-y: scroll;
	scroll-snap-type: y mandatory;
}
.scroll-container-input{
	height: 100vh;
    overflow-y: scroll;
	scroll-snap-type: y mandatory;
}


.scroll-section {
	background-image: url("background_2.jpeg");
	scroll-snap-align: center;
	height: 100vh;
	display: flex;
	align-items: center;
    justify-content: center;
    font-size: 0.9em;
	position:  relative;
	min-width: 900px;
	min-height:700px;
	/* flex-flow: wrap; */
}
.scroll-section-main {
	background-image: url("background_2.jpeg");
	scroll-snap-align: center;
	height: 100vh;
	display: flex;
	align-items: center;
    justify-content: center;
    font-size: 0.9em;
	position:  relative;
	min-width: 900px;
	min-height:700px;
}
#torch{
    position: absolute;
    width:20vh;
    left:0.1vh;
    top:0.1vh;
}



form div{
    width: 100vh;
}
form div h1{
    text-align: center;
    font-size: 3em;
}

.other-box {
	width: 800px;
	height: 450px;
	background-color: black;
/*	position: relative;
	margin: 0 auto;
	margin-top: 50vh;
	transform: translateY(-100px);*/

	margin: 0 100px;

}
.panel{
	width: 800px;
	height:500px;
	min-width: 800px;
	min-height:500px;
}

/* Container holding the image and the text */
.image_container{
	position: relative;
  }
  
  /* Bottom right text */
#image_text_1{
font-family: 'flottenheimer_demoregular';
font-size:10px;
position: absolute;
bottom: 37%;
right: 26%;
/* background-color: white; */
color: black;
padding-left: 10%;
padding-right: 10%;
}
#image_text_2{
font-family: 'flottenheimer_demoregular';
font-size:10px;
position: absolute;
bottom: 43%;
right: 78%;
/* background-color: white; */
color: black;
padding-left: 10%;
padding-right: 10%;
}
#image_text_3{
font-family: 'flottenheimer_demoregular';
font-size:10px;
position: absolute;
bottom: 65%;
right: 7.5%;
/* background-color: white; */
color: black;
padding-left: 10%;
padding-right: 10%;
}
#image_text_4{
font-family: 'flottenheimer_demoregular';
font-size:10px;
position: absolute;
bottom: 34%;
right: 18%;
/* background-color: white; */
color: black;
padding-left: 10%;
padding-right: 10%;
}
#image_text_5{
font-family: 'flottenheimer_demoregular';
font-size:10px;
position: absolute;
bottom: 30.6%;
right: 6%;
/* background-color: white; */
color: black;
padding-left: 10%;
padding-right: 10%;
}

#new_confessions{
	font-size:40px;
}
#new_confessions:hover{
	font-size:40px;
	color:#57068c;
	cursor:pointer

}


